*{
    margin: 0;
    text-decoration: none;
}

/*Página 1: Login*/
header{
    height: 10%;
    width: 100%;
}

header h1{
    display: flex;
    justify-content: center;
}

main{
    background-color: rgb(255, 237, 237);
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login{
    background-color: white;
    width: 90%;
    height: 80%;
    display: flex;
    border-radius: 40px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.login div input{
    display: flex;
    flex-direction: column;
    width: 70vh;
    height: 10vh;
    background-color: rgb(248, 248, 248);
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 5%;
}

.login div button{
    width: 20vh;
    height: 5vh;
    background-color: rgb(248, 248, 248);
    border: 1px solid black;
    border-radius: 10px;

}

.login div button:hover{
    background-color: rgb(252, 185, 185);
}

.login img{
    width: 30%;
    height: 70%;
    border-radius: 50%;
}

/*Página 2: Tela inicial*/
.main2{
    background-color: rgb(255, 237, 237);
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    border: 1px solid black
} 

/*Esquerda*/
.menu{
    width: 20%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid red;
}

.menu img{
    width: 5vh;
    margin-bottom: 8vh;
    margin-left: 5vh;
}

/*Meio*/
.meio{
    width: 60%;
    height: 92vh;
    border: 1px solid blue
}
/*Direita*/
.perfis{
    width: 20%;
    height: 92vh;
    display:flex;
    flex-direction: column;
    border: 1px solid purple
}

.perfis div{
    width: 70px;
    height: 70px;
    border: 1px solid rgb(252, 185, 185);
    margin-bottom: 5vh;
    border-radius: 50%;
    margin-left: 5vh;
}

.perfis p{
    margin-left: 5vh;
    margin-bottom: 5vh;
}